@import "../../../scss/mixins";
@import "../../../scss/variables";

.package-groups {
    padding: 0 40px;
    > ui-package-list {
      display: grid;
      grid-gap: 16px; // optional spacing between columns
  
      // Default layout for types with 3 columns
      &.standart,
      &.sport,
      &.red {
        grid-auto-flow: column !important;
        grid-template-columns: repeat(3, 1fr);
      }
  
      // Custom layout for OKTAGON with 1 column
      &.oktagon {
        grid-template-columns: 1fr;
      }
  
      // Custom layout for HBO with 2 columns
      &.hbo {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  
    > p, h2 {
      text-align: center;
    }
  }
  