.flex-container {
    display: flex;
    justify-content: space-between;
    height: 89px;
    align-items: center;
    padding: 0 40px;
}

.logo {
    /* Adjust logo size if necessary */
    height: 40px;
}