@import "../../../scss/mixins";
@import "../../../scss/variables";

.package-list {
    display: grid;
    margin-bottom: 43px;
    grid-template-areas: "title" "cards";
    row-gap: 32px;
    padding: 21px;

    > h2 {
        font-size: $big-font;
        grid-area: title;
        text-align: center;
    }

    > .cards {
        grid-area: cards;
    }
}