<h3>Stáhněte si Telly aplikace i do svého mobilu a tabletu.</h3>
<div class="download-button-group">
  <a class="download-button download-button__google-play" href="#">
    <img
      src="./icons/google-play-logo-vector.svg"
      alt="Logo Google Play"
      class="download-button__logo"
    />
    <div class="download-button__text">
      <span class="action-download-text">Stáhnout z</span>
      <img
        src="./icons/google-play-text-vector.svg"
        alt="Vector Text Google Play"
        class="download-button__vector-text"
      />
    </div>
  </a>
  <a class="download-button download-button__google-play" href="#">
    <img
      src="./icons/apple-store-logo-vector.svg"
      alt="Logo Apple Store"
      class="download-button__logo"
    />
    <div class="download-button__text">
      <span class="action-download-text">Stáhnout z</span>
      <img
        src="./icons/apple-store-text-vector.svg"
        alt="Vector Text Apple Store"
        class="download-button__vector-text"
      />
    </div>
  </a>
</div>
<p>
  V portálu Moje Telly si můžete jednoduše
  <strong>přidávat a odebírat svá zařízení</strong> a aplikace. Zároveň zde
  můžete <strong>sledovat Telly ve svém webovém prohlížeči.</strong>
</p>
<p>
  Portál Moje Telly slouží
  <strong
    >také pro nákup a správu balíčků Sport online, Oktagon, Red online a
    aktivaci předplacených karet Telly.</strong
  >
</p>
