html, body { height: 100%; overflow-x: hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.app-background {
  position: fixed;  /* Keep it fixed so it remains as the background while scrolling */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./app/assets/light.svg');
  background-size: cover;
  background-position: center;
  z-index: -1;  /* Ensures the background stays behind the content */
  pointer-events: none;  /* Ensures the background doesn't interfere with content interactions */
}

.app-content {
  position: relative;
  z-index: 1;  /* Ensures content appears above the background */
  padding-bottom: 100px; /* Optional: to avoid content hitting the bottom of the page */
}